<!DOCTYPE html>
<html lang="es">
 	<head>
		<title>Saboteur</title>
		<meta charset="utf­8"/>
		<link rel="stylesheet" type="text/css" href="css/cssPrincipal.css">
	</head>
	<body>
		<div id="header" >

			<div class="iz">
				<IMG id="imagentop" SRC="RecursosGraficosP1/Logo.png"></IMG>
				
			</div>
			<div class="dr">
				<h2 id="conect">No estás conectado</h2>

			</div>
	    </div>
	    <div id ="cinta">
	    	<div > 
	    		<div class="margizq">
	    			<button class="button" onclick="location.href = 'login.html'"><span>Login</span></button>
	    			<button class="button" onclick="location.href = 'registro.html'"><span>Nuevo Usuario</span></button>
	    		</div>
	    	</div>
	    </div>

	    <div id ="bienvenida">
	    	<h1 class="welcome">Bienvenido!</h1>
	    	
	    	<p>Puedes identificarte o crear una nueva cuenta de usuario.</p>
	    </div>
	</body>
</html>